---
import '@fontsource/space-mono';
import '@fontsource/poppins';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>
   <div class="centered-container">
      <div class="inner-item">
         <h1>404</h1>
         <p>Sorry! The page you were looking for couldn't be found.</p>
      </div>
   </div>
</MainLayout>
<style lang="scss">
   @use '../styles/_main-colors' as *;
   @use '../styles/_centered-classes' as *;
   
   h1 {
      font-family: 'poppins', sans-serif;
      font-size: max(8vw, 4rem);
      font-weight: bold;
      line-height: 1.2;
      margin-top: 2rem;
      margin-left: 1rem;
      margin-bottom: 0;
      padding-right: 4rem;
   }

   p {
      font-family: 'Space Mono', sans-serif;
      font-size: max(2vw, 1rem);
      margin-left: 1rem;
      margin-right: 2rem;
   }
   
</style>
