---
import '@fontsource/space-mono';
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
      <div class="sidebar-content-container">
         <div class="sidebar"></div>
         <div>
            <Navbar/>
            <h1>Hey I'm <span class="jack">Jack</span>!</h1>
            <p>I like to write about what I'm doing sometimes. This is where you can find said writing.</p>
         </div>
      </div>
	</body>

   <style lang="scss">
      @use '../styles/_main-colors' as *;
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
      
      :root {
         background-color: $base;
         color: $text;
      }

      body {
         margin: 0;
      }
      
      h1 {
         font-family: 'poppins', sans-serif;
         font-size: max(8vw, 4rem);
         font-weight: bold;
         line-height: 1.2;
         margin-top: 1rem;
         margin-left: 1rem;
         margin-bottom: 0;
         padding-right: 4rem;
      }

      p {
         font-family: 'Space Mono', sans-serif;
         font-size: max(2vw, 1rem);
         margin-left: 1rem;
         margin-right: 2rem;
      }

      .jack {
         color: $accent;
      }

      .sidebar-content-container {
         display: grid;
         grid-template-columns: max(2vw, 1rem) auto;
      }

      .sidebar {
         background-color: $accent;
         height: 100vh;
      }

   </style>
</html>
