---
import '@fontsource/poppins';
---

<div>
   <nav>
      <a class="main-link" href="/">JS</a>
      <div class="box">
         <a class="sub-link" href="/garden/">Garden</a>
         <a class="sub-link" href="/now">Now</a>
         <a class="sub-link" href="/about">About</a>
      </div>
   </nav>
</div>

<style lang="scss">
   @use '../styles/_main-colors' as *;
   
   nav {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      flex-direction: row;
      flex-basis: 20em;
      margin-top: max(1rem, 3vh);
      margin-right: 1rem;
   }

   a {
      text-decoration: none;
      font-family: 'poppins', sans-serif;
      color: $accent;
   }

   .main-link {
      margin-left: 2rem;
      font-size: 2rem;
   }

   .sub-link {
      margin-right: 2rem;
   }
   
   .box {
      display: flex;
      align-items: center;
   }
</style>


