---
import type { MarkdownHeading } from 'astro';

const { headings } = Astro.props;
interface Props {
   headings: MarkdownHeading[]
}
const filteredHeadings = headings.filter(h => h.depth <= 2);
---

<nav class="contents-container">
   <h3 class="contents">Contents</h3>
   <ul class="contents-list">
      {filteredHeadings.map(item => 
      <li>
         <a href={"#" + item.slug}>{item.text}</a>
      </li>
      )}
   </ul>
</nav>

<style lang="scss">
   @use '../styles/_main-colors' as *;
   @use 'sass:color';

   .contents {
      margin: 0;
   }

   .contents-list {
      margin-top: 1rem !important;
      margin-bottom: 0rem !important;
      padding-left: 1rem;
   }

   .contents-container {
      border-radius: 0.5rem;
      border: solid;
      border-color: $secondary;
      padding: 0.5rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      background-color: color.adjust($base, $lightness: -3%);
   }
</style>
