---
import '@fontsource/space-mono';
import '@fontsource/roboto';
import Navbar from '../components/Navbar.astro';
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/js.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
   <body>
      <Navbar/>
      <div class="centering-div">
         <div class="centered-div">
            <h1 class="title">{title}</h1>
            <hr color="#105705"/>
            <slot name="contents"/>
            <slot/>
         </div>
      </div>
   </body>
   <style lang="scss" is:global>
      @use '../styles/_main-colors' as *;
      
      :root {
         background-color: $base;
      }

      body {
         margin: 0;
      }

      p {
         font-family: 'Roboto', sans-serif;
         line-height: 1.75rem;
         text-align: justify;
         text-indent: 1rem;
         font-size: 1.2rem;
         color: $text;
         margin: 0;
         margin-bottom: 1rem;
      }

      blockquote > p {
         text-indent: 0;
      }

      @media screen and (max-width: 500px) {
         p {
            font-size: 1rem;
            line-height: 1.5rem;
         }
      }

      hr {
         margin-bottom: 2rem;
      }

      h1, h2, h3 {
         font-family: 'montserrat', sans-serif;
         font-weight: 600;
         color: $accent;
         margin-top: 1.5rem;
         margin-bottom: .5rem;
      }

      h1 {
         font-size: 3rem;
      }

      h2 {
         font-size: 2rem;
      }

      h3 {
         font-size: 1.5rem;
      }

      a {
         color: $accent;
      }

      pre {
         padding: 1rem;
         border-radius: 0.5rem;
         border:  4px solid $accent;
         overflow-x: auto;
      }

      ul {
         margin-top: 2rem;
         margin-bottom: 2rem;
      }

      li {
         color: $text;
         font-family: 'Roboto', sans-serif;
         margin-bottom: 1rem;
      }

      h2#footnote-label {
         font-size: 1.5rem;
         margin-top: 2rem;
      }

      img {
         max-width: 100%;
         height: auto;
         max-height: 600px;
         width: auto;
         margin-top: 2rem;
         display: block;
         margin-left: auto;
         margin-right: auto;
      }

      .title {
         font-size: 2.2rem;
      }

      .centering-div {
         display: flex;
         justify-content: center;
      }

      .centered-div {
         max-width: 85ch;
         margin-left: 1rem;
         margin-right: 1rem;
         margin-bottom: 5rem;
      }
   </style>
</html>
